<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('header', urlpath) %>
</head>
<body>
<div class="container">
    <!--topmeun-->

    <%- include('topmenu') %>

    <!--topmeun-->


    <!--content-->

    <%- include('content') %>

    <!--content-->

    <!--footer-->
    <div class="text-center"><p>Hello, this is a practice to merge internet, big-data and AI.</p>
        <p>Perhaps something will happen. Enjoy!</p>
    </div>
    <!--footer-->
</div>
    <%- include('js') %>
</body>
</html>