

<nav>
    <div class="nav nav-tabs" id="p_accessmanage_nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="p_accessmanage_nav-operator-tab" data-toggle="tab" href="#p_accessmanage_nav-operator">操作员表</a>
        <a class="nav-item nav-link" id="p_accessmanage_nav-operatorgroup-tab" data-toggle="tab" href="#p_accessmanage_nav-operatorgroup">操作员分组表</a>
        <a class="nav-item nav-link" id="p_accessmanage_nav-role-tab" data-toggle="tab" href="#p_accessmanage_nav-role">角色分组表</a>
        <a class="nav-item nav-link" id="p_accessmanage_nav-resource-tab" data-toggle="tab" href="#p_accessmanage_nav-resource">资源分组表</a>
        <a class="nav-item nav-link" id="p_accessmanage_nav-process-tab" data-toggle="tab" href="#p_accessmanage_nav-process">流程表</a>
        <a class="nav-item nav-link" id="p_accessmanage_nav-rule-tab" data-toggle="tab" href="#p_accessmanage_nav-rule">权限分组表</a>
        <a class="nav-item nav-link" id="p_accessmanage_nav-userrole-tab" data-toggle="tab" href="#p_accessmanage_nav-userrole">用户角色表</a>
        <a class="nav-item nav-link" id="p_accessmanage_nav-access-tab" data-toggle="tab" href="#p_accessmanage_nav-access">用户权限表</a>
        <a class="nav-item nav-link" id="p_accessmanage_nav-group-tab" data-toggle="tab" href="#p_accessmanage_nav-group">分组定义表</a>
    </div>
</nav>

<div class="tab-content m-3" id="p_accessmanage_nav-tabContent">
    <div class="tab-pane fade show active" id="p_accessmanage_nav-operator">
        <div id="p_accessmanage_table_operator"></div>
        </div>
    <div class="tab-pane fade" id="p_accessmanage_nav-operatorgroup">
        <div id="p_accessmanage_table_operatorgroup">
        </div>
    </div>
    <div class="tab-pane fade" id="p_accessmanage_nav-role">
        <div id="p_accessmanage_table_role"></div>
        </div>

    <div class="tab-pane fade" id="p_accessmanage_nav-resource">
        <div id="p_accessmanage_table_resource"></div>
        </div>

    <div class="tab-pane fade" id="p_accessmanage_nav-process">...process</div>
    <div class="tab-pane fade" id="p_accessmanage_nav-rule">
        <div id="p_accessmanage_table_rule"></div>
        </div>
    <div class="tab-pane fade odd" id="p_accessmanage_nav-userrole">
        <div id="p_accessmanage_table_userrole"></div>
        </div>
    <div class="tab-pane fade odd" id="p_accessmanage_nav-access">
        <div id="p_accessmanage_table_userrole"></div>
        ...access</div>
    <div class="tab-pane fade" id="p_accessmanage_nav-group">
<!--        <div>
            <table id="p_accessmanage_table_id_group" class="table stripe row-border hover compact" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th></th>
                    <th>表名</th>
                    <th>分组名称</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>-->


        <div id="p_accessmanage_table_group"></div>
    </div>
</div>



