<div class="row d-flex justify-content-center my-3">
    <div class="col-md-4 mt-2">
        <form action="" style="background-color: #eee;padding:10%;border-radius:10px" id="p_admin_form_login">
            <div class="my-2">
                <div style="width:30%;float:left">用户名:</div>
                <input type="text" id="p_admin_input_operator" style="width:70%;border-radius: 10px;border:1px solid #aaa" name="name">
            </div>
            <div class="my-2">
                <div style="width:30%;float:left">密码:</div>
                <input type="password" id="p_admin_input_password" style="width:70%;border-radius: 10px;border:1px solid #aaa" name="password">
            </div>
            <div style="text-align: center">
                <button style="border:1px solid #aaa;border-radius: 10px; padding:1% 20%;margin-top:20%" id="p_admin_btn_login" type="button">登陆</button>
            </div>

        </form>

    </div>
</div>