<div id="p_docmanage_div_doclist">
    hello doc manage
</div>


<div class="modal fade" id="p_docmanage_modal_rowdata" role="dialog" aria-labelledby="档案数据" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">
                    档案数据
                </h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                </button>
            </div>


            <div class="modal-body">
                <div class="row mt-4">
                    <div class="col-md-6">
                        <label class="col-label">文档编号 :</label><span class="m-2 p-2" id="p_docmanage_span_docname"></span>
                    </div>
                    <div class="col-md-6">
                        <label class="col-label">用户名 :</label><span class="m-2 p-2" id="p_docmanage_span_username"></span>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-md-4">
                        <label class="col-label">姓名 :</label> <span class="m-2 p-2" id="p_docmanage_span_name"></span>
                    </div>

                    <div class="col-md-4">
                        <label class="col-label">失联地点 :</label>
                        <span class="m-2 p-2" id="p_docmanage_span_location"></span>
                    </div>

                    <div class="col-md-4">
                        <label class="col-label">失联时间 :</label>
                        <span class="m-2 p-2" id="p_docmanage_span_date"></span>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col">
                        <label class="col-label my-2">相貌特征 :</label><br>
                        <p class="p-2 mt-2" id="p_docmanage_p_appearance" style="width:100%"></p>
                        <label class="col-label my-2">失联情况 :</label><br>
                        <p class="p-2 mt-2" id="p_docmanage_p_descripttion" style="width:100%" ></p>
                    </div>
                </div>

                <div>
                    <div class="col-10 row offset-1 my-5" id="p_docmanage_div_photos">

                    </div>

                </div>

                <hr>

                <div>
                    <label class="col-label">匹配的照片:</label><br>
                    <div class="col-10 row offset-1 my-1" id="p_docmanage_div_matchedphotos">


                    </div>

                </div>



            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    OK
                </button>
            </div>
        </div>

    </div>

</div>