<div id="p_usermanage_div_userlist">

</div>
<div class="modal fade" id="p_usermanage_modal_rowdata" role="dialog" aria-labelledby="用户数据" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">
                    用户数据
                </h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">

                <form id="p_usermanage_modal_form">
                        <div class="row">
                            <span class="col-4 text-right">用户名</span>
                            <span id="p_usermanage_modal_username" class="col-7 ml-1"></span>
                        </div>

                        <div class="row mt-2">
                            <span class="col-4 text-right">姓名</span>
                            <input id="p_usermanage_modal_name" type="text" placeholder="姓名" name = "name" class="input-xlarge col-7 ml-1">
                        </div>

                <div class="row  mt-2">
                    <span class="col-4 text-right">头像</span>
                    <div class="col-7 ml-1">
                    <img  id="p_usermanage_modal_avator"  class="w-100" src="/img/avator.jpg">
                    <input type="file" id="p_usermanage_modal_input_avator" name = "avator" class="w-100 h-100 position-absolute fixed-top" style="opacity : 0">
                    </div>
                </div>
                <div class="row  mt-2">
                    <span class="col-4 text-right">创建时间</span>
                    <span id="p_usermanage_modal_createtime" class="col-7 ml-1"></span>
                </div>

                <div class="row  mt-2">
                    <span class="col-4 text-right">电话</span>
                    <input id="p_usermanage_modal_phone" type="text" placeholder="电话" name = "phone" class="input-xlarge col-7 ml-1">
                </div>

                <div class="row  mt-2">
                    <span class="col-4 text-right">邮箱</span>
                    <input id="p_usermanage_modal_email" type="text" placeholder="邮箱" name = "email" class="input-xlarge col-7 ml-1">
                </div>

                <div class="row  mt-2">
                    <span class="col-4 text-right">新密码</span>
                    <input id="p_usermanage_modal_pwd1" type="password" placeholder="输入新密码" name = "password" class="input-xlarge col-7 ml-1">
                </div>

                <div class="row  mt-2">
                    <span class="col-4 text-right">新密码</span>
                    <input id="p_usermanage_modal_pwd2" type="password" placeholder="再次输入新密码" class="input-xlarge col-7 ml-1">
                </div>

                </form>



            </div>
            <div class="modal-footer">
                <button type="button" id="p_usermanage_modal_btn_ok" class="btn btn-primary">
                    确认修改
                </button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    取消
                </button>
            </div>
        </div>

    </div>

</div>